$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';




header {
  text-align: center;
}

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
}

.col-xs-4 {
  border: 1px solid $white;
  min-height: 50px;
}
