$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

header {
  text-align: center;
}

body {
  font-family: 'Nova Mono', monospace;
  background-color: $poke-cerulean-blue;
  color: $poke-yellow;
}

.gameboard {
  margin: 40px;
  width: 50%;
  height: 50%;
  float: left;

}


.box {
  border: 4px solid $poke-yellow;
  background: $white;
  height: 140px;
  padding: 40px;
  margin: 5px;
  width: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px $poke-pan;
  text-align: center;
  @media screen and (max-width: 650px) {
    height: 50px;
    font-size: 40px;
  }
}

.col-xs-4:hover {
  background: $poke-light-gray;
}
// .col-xs-4 {
//   border: 1px solid $white;
//   height: 30%;
//   min-height: 30%;
// }
.right-column {
  display: inline-block;
}

.scoreboard {
  background-color: $poke-citron;
  border-radius: 8px;
  box-shadow: 5px 5px 5px $poke-yellow;
  clear: left;
  height: 420px;
  line-height: 200px;
  margin: 5px 0 0 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 420px;
  float: right;
}
//
// #lillipup-win {
//   left: 0;
//   position: absolute;
//   top: 0;
//   z-index: 1;
// }
//
// #Mawile-win {
//   left: 0;
//   position: absolute;
//   top: 0;
//   z-index: 1; }
//
// #Pokemon-draw {
//   left: 0;
//   position: absolute;
//   top: 0;
//   z-index: 1;
// }
